{% extends "layout.html" %}

{% block pageTitle %}
Place name | Find data on skills supply
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your feedback will help us to improve it.'
}) }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
          Newcastle upon Tyne
        </h1>
        <span class="govuk-caption-xl govuk-!-margin-bottom-8">Local authority district</span>
      </div>
    </div>

    

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-grid-row govuk-!-margin-bottom-6">
          <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m section-border-top"><a href="lep-ne-skills.html">Providers delivering training in Newcastle upon Tyne</a></h2>
            </div>
        <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-s">
                Providers with the highest number of students
              </h3>

              <ol class="govuk-list govuk-list--number">
                  <li>Customer services</li>
                  <li>Communication</li>
                  <li>Administration</li>
                  <li>Javascript</li>
                  <li>Nursing</li>
                </ol>

        </div>
        <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-s">
                Providers with the highest achievement rates
              </h3>
            
              <ol class="govuk-list govuk-list--number">
                  <li>Hospitality</li>
                  <li>Javascript</li>
                  <li>Nursing</li>
                  <li>Accountancy</li>
                  <li>Management</li>
                </ol>            
        </div>
      </div>

      <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m section-border-top"><a href="lep-ne-skills.html">Training venues in Newcastle upon Tyne</a></h2>
            </div>
       
      </div>

      <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m section-border-top"><a href="lep-ne-skills.html">Providers with offices in Newcastle upon Tyne</a></h2>
            </div>
        
      </div>

    </div>

    <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m section-border-top-nav">
        This area is part of
      </h3>

      <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="#">England</a>
          </li>
          <li>
            <a class="govuk-link" href="#">North East region</a>
          </li>
          <li>
              <a class="govuk-link" href="#">North East local enterprise partnership</a>
            </li>
        </ul>
      </div>

</div>
</div>

{% include "includes/feedback.html" %}

{% endblock %}

{% block pageScripts %}



{% endblock %}