{% extends "layout.html" %}

{% block pageTitle %}
B-SKILL Limited | Find data on skills supply
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your feedback will help us to improve it.'
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Training provider</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
          Courses offered by B-SKILL Limited
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-8">
      
      <nav class="navigation-secondary">
        <ul>
          <li>
            <a href="provider-b-skill">Provider overview</a>
          </li>
          <li>
              <a href="provider-b-skill-courses" class="active" aria-current="section">Courses</a>
          </li>

        </ul>
      </nav>

  </div>



    <div class="govuk-grid-row govuk-!-margin-bottom-5">

        <div class="govuk-grid-column-one-third">
      
            <form class="form" action="lep-ne-gva.html">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="sort">
                        <strong>Qualification title</strong>
                      </label>
                      <input class="govuk-input" id="event-name" name="event-name" type="text">
                </div>
            </form>
        </div>

        <div class="govuk-grid-column-one-third">
            <div class="govuk-form-group">
                <label class="govuk-label" for="sort">
                    <strong>Qualification level</strong>
                  </label>
                  <select class="govuk-select" id="sort" name="sort">
                    <option value="all" selected>All levels</option>
                    <option>Level 0</option>
                    <option>Level 1</option>
                    <option>Level 2</option>
                  </select>
            </div>
         </div>

    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
    
            <p class="show-with-responsive-table"><strong>Sort skills by:</strong></p>
            <table class="govuk-table sort-filter-table sortable responsive-table govuk-!-margin-bottom-5">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
    
                    <th class="govuk-table__header" scope="col"><span class="th-sort-link">Course</span></th>
                  <th class="govuk-table__header" scope="col"><span class="th-sort-link">Qualification</span></th>
                  <th class="govuk-table__header" scope="col"><span class="th-sort-link">Qualification level</span></th>
                  <th class="govuk-table__header" scope="col"><span class="th-sort-link">Awarding organisation</span></th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
    
                  <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="row"><a href="course-btec-award">BTEC Award for IT Users (Entry Level 3)</a></th>
                      <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Qualification: </span>BTEC Award for IT Users (ITQ) (Entry 3)</td>
                      <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Qualification level: </span>Level 0</td>              
                      <td class="govuk-table__cell" sorttable_customkey="16"><span aria-hidden="true" class="show-with-responsive-table">Awarding organisation: </span>Pearson Education Ltd (Formerly EDEXCEL)</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row"><a href="course-btec-award">Skills for Work</a></th>
                        <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Qualification: </span>Extended Certificate in Employability Skills</td>
                        <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Qualification level: </span>Level 1</td>              
                        <td class="govuk-table__cell" sorttable_customkey="16"><span aria-hidden="true" class="show-with-responsive-table">Awarding organisation: </span>City & Guilds of London Institute</td>
                      </tr>

                      <tr class="govuk-table__row">
                          <th class="govuk-table__header" scope="row"><a href="course-btec-award">Scale Up Programme</a></th>
                          <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Qualification: </span>Extended Certificate in Employability Skills</td>
                          <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Qualification level: </span>Level 2</td>              
                          <td class="govuk-table__cell" sorttable_customkey="16"><span aria-hidden="true" class="show-with-responsive-table">Awarding organisation: </span>City & Guilds of London Institute</td>
                        </tr>
                              
              </tbody>
            </table>
    
        </div>
        </div>




</div>

{% include "includes/feedback.html" %}

{% endblock %}

{% block pageScripts %}

<script type="text/javascript">
  
  const dataitems = [
  'Javascript',
  'React',
  'CSS',
  'HTML',
  'Data science',
  'Node'
]

accessibleAutocomplete({
  element: document.querySelector('#autocomplete'),
  displayMenu: 'overlay',
  id: 'autocomplete', // To match it to the existing <label>.
  source: dataitems
})


</script>


<script type="text/javascript" src="../../public/javascripts/sorttable.js"></script>

{% endblock %}