{% extends "layout.html" %}

{% block pageTitle %}
BTEC Award for IT Users (Entry Level 3) | Find data on skills supply
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your feedback will help us to improve it.'
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Course</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
          BTEC Award for IT Users (Entry Level 3)
      </h1>
      <p class="last-update govuk-!-margin-bottom-6">This data was last updated in September 2019</p>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Course summary</h2>
    <p>
        Our Employability Programme is a two-week intensive course designed to support learners on their journey back to work. It addresses key barriers, gives an insight into current world of work, different ways of Job Searching and new approaches to the application process. Leads to an accredited BTEC Certificate.
      </p>
    <p>
        Core modules include Rights and Responsibilities at Work, Working in a Team, Searching and Applying for Jobs, Preparing for Interview, Interview Skills and key next steps.
    </p>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Course URL
          </dt>
          <dd class="govuk-summary-list__value">
              <a href="http://www.b-skill.com/pre-employment-programmes/">http://www.b-skill.com/pre-employment-programmes/</a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Booking URL
          </dt>
          <dd class="govuk-summary-list__value">
          </dd>
        </div>
      </dl>

    <h2 class="govuk-heading-m">Assement method</h2>
    <p>The course is delivered using a variety of learning styles. All learners will complete an initial assessment and diagnostic assessment at the referral interview. The results of these and the discussion form the basis of the learner's individual programme.</p>

    <h2 class="govuk-heading-m">Qualification details</h2>

    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Qualification type
          </dt>
          <dd class="govuk-summary-list__value">
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Qualification title
          </dt>
          <dd class="govuk-summary-list__value">
              BTEC Award for IT Users (ITQ) (Entry 3)
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Qualification level:
          </dt>
          <dd class="govuk-summary-list__value">
              Level 0
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Awarding organisation:
          </dt>
          <dd class="govuk-summary-list__value">
              Pearson Education Ltd (Formerly EDEXCEL)
          </dd>
        </div>
      </dl>

    <h2 class="govuk-heading-m">Requirements</h2>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Entry requirements
          </dt>
          <dd class="govuk-summary-list__value">
              The programme is available for any unemployed adult (aged 19+) in receipt of Jobseekers Allowance (JSA) or Employment Support Allowance in the Work Related Activity Group (ESA WRAG).
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Equipment required:
          </dt>
          <dd class="govuk-summary-list__value">
              None
          </dd>
        </div>
      </dl>

  </div>
  <div class="govuk-grid-column-one-third">
  <h3 class="govuk-heading-m section-border-top-nav">Provider information</h3>

    <ul class="govuk-list">
        <li><strong><a href="provider-b-skill">B-SKILL Limited</a></strong></li>
        <li>Suite A15 Milburn House<br>
            Dean Street<br>
            Newcastle upon Tyne<br>
            Tyne and Wear<br>
            NE1 1LE</li>
        <li><strong>Telephone:</strong> 0333 900 0690</li>
        <li><strong>Email:</strong> <a href="mailto:business@b-skill.com">business@b-skill.com</a></li>
        <li><strong>Website:</strong> <a href="http://www.b-skill.com">http://www.b-skill.com</a></li>
      </ul>
    </div>
  
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">About this data</a></h2>
            <p>This data comes from the <a href="https://www.gov.uk/government/publications/sfa-course-directory">ESFA Course Directory</a>. It was last updated at the end of 2017-2018 academic year.</p>
            <p>You can use this data publicly.</p>
          </div>
      
    
    
    </div>
    


</div>

{% include "includes/feedback.html" %}

{% endblock %}

{% block pageScripts %}



{% endblock %}