{% extends "layout.html" %}

{% block pageTitle %}
Newcastle upon Tyne | Find data on skills supply
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your feedback will help us to improve it.'
}) }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
          Newcastle upon Tyne
        </h1>
        <span class="govuk-caption-xl govuk-!-margin-bottom-4">Local authority district</span>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-8">
      <div class="govuk-grid-column-full">
          <nav class="navigation-secondary">
            <ul>
              <li>
                <a href="place-newcastle-upon-tyne" class="active" aria-current="section">Place overview</a>
              </li>
              <li>
                  <a href="place-newcastle-upon-tyne-providers">Providers delivering training</a>
              </li>
              <li>
                <a href="place-newcastle-upon-tyne-sectors">Sector subject areas</a>
            </li>
            <li>
                <a href="place-newcastle-upon-tyne-levels">Qualification levels</a>
            </li>
  
            </ul>
          </nav>
        </div>
    </div>

    

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-grid-row govuk-!-margin-bottom-6">
          <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m"><a href="place-providers.html">Providers delivering training in Newcastle upon Tyne</a></h2>
            </div>
        <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-s">
                Providers with the highest number of students
              </h3>

              <ol class="govuk-list govuk-list--number">
                  <li>Newcastle upon Tyne City Council</li>
                  <li>Learndirect Limited</li>
                  <li>Peopleplus Group Limited</li>
                  <li>Gateshead College</li>
                  <li>Summerhouse Equestrian and Training Centre LLP</li>
                </ol>

        </div>
        <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-s">
                Providers with the highest achievement rates
              </h3>
            
              <ol class="govuk-list govuk-list--number">
                  <li>Release potential limited</li>
                  <li>St Helens College</li>
                  <li>Darlington College</li>
                  <li>B-Skill Limited</li>
                  <li>Learndirect Limited</li>
                </ol>            
        </div>
      </div>


    </div>

    <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m section-border-top-nav">
        This area is part of
      </h3>

      <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="#">England</a>
          </li>
          <li>
            <a class="govuk-link" href="#">North East region</a>
          </li>
          <li>
              <a class="govuk-link" href="#">North East local enterprise partnership</a>
            </li>
        </ul>
      </div>

</div>
</div>

{% include "includes/feedback.html" %}

{% endblock %}

{% block pageScripts %}



{% endblock %}