{% extends "layout.html" %}

{% block pageTitle %}
B-SKILL Limited | Find data on skills supply
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your feedback will help us to improve it.'
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Training provider</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
          B-SKILL Limited in Newcastle upon Tyne
      </h1>
      <span class="govuk-caption-m govuk-!-margin-bottom-4">Private work-based</span>
    </div>
  </div>
  
  <div class="govuk-grid-row govuk-!-margin-bottom-8">
        <div class="govuk-grid-column-one-quarter">
            <div class="headline-stat-box section-border-top">
                <span class="title">Number of students</span>
                <span class="figure">50</span>
                <div class="detail govuk-body-s">
                   Based on National Achievement Rates Tables, 2018
                </div>
            </div>
        </div>
        <div class="govuk-grid-column-one-quarter">
            <div class="headline-stat-box section-border-top">
                <span class="title">Retention rate</span>
                <span class="figure">97.8%</span>
                <div class="detail govuk-body-s govuk-!-margin-bottom-0">
                  The percentage of people completing their course.
              </div>
    
            </div>
        </div>
        <div class="govuk-grid-column-one-quarter">
            <div class="headline-stat-box section-border-top">
                <span class="title">Pass rate</span>
                <span class="figure">97.8%</span>
                <div class="detail govuk-body-s govuk-!-margin-bottom-0">
                  The percentage of people completing their course with a pass.
                </div>
            </div>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <div class="headline-stat-box section-border-top">
              <span class="title">Achievement rate</span>
              <span class="figure">100%</span>
              <div class="detail govuk-body-s govuk-!-margin-bottom-0">
                The percentage of people leaving having achieved their learning goals.
            </div>
    
          </div>
      </div>
  
    </div>


    <div class="govuk-grid-row govuk-!-margin-bottom-8">
      <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m">Achievements by age group</h2>
        <table class="govuk-table sort-filter-table sortable responsive-table govuk-!-margin-bottom-5">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">

                <th class="govuk-table__header" scope="col"><span class="th-sort-link">Age group</span></th>
              <th class="govuk-table__header" scope="col"><span class="th-sort-link">Number of students</span></th>
              <th class="govuk-table__header" scope="col"><span class="th-sort-link">Retention rate</span></th>
              <th class="govuk-table__header" scope="col"><span class="th-sort-link">Pass rate</span></th>
              <th class="govuk-table__header" scope="col"><span class="th-sort-link">Achievement rate</span></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">19+</th>
                  <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Number of students: </span>50</td>             
                  <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Retention rate: </span>97.8</td>
                  <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Pass rate: </span>97.8</td>
                  <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Achievement rate: </span>100%</td> 
              </tr>
          </tbody>
          </table>
      </div>
    </div>


  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    
      <div class="govuk-grid-column-two-thirds">

            <h2 class="govuk-heading-m">Provider contact</h2>
          <dl class="govuk-summary-list govuk-summary-list--no-border">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Address
                </dt>
                <dd class="govuk-summary-list__value">
                    Suite A15 Milburn House<br>
                    Dean Street<br>
                    Newcastle upon Tyne<br>
                    Tyne and Wear<br>
                    NE1 1LE
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Website
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href="http://www.b-skill.com">http://www.b-skill.com</a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Contact details
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">0333 900 0690</p>
                  <p class="govuk-body">business@b-skill.com</p>
                </dd>
              </div>
            </dl>
  
      </div>
    
      <div class="govuk-grid-column-one-third">

  
        </div>

  </div>





</div>

{% include "includes/feedback.html" %}

{% endblock %}

{% block pageScripts %}

<script type="text/javascript">
  
  const dataitems = [
  'Javascript',
  'React',
  'CSS',
  'HTML',
  'Data science',
  'Node'
]

accessibleAutocomplete({
  element: document.querySelector('#autocomplete'),
  displayMenu: 'overlay',
  id: 'autocomplete', // To match it to the existing <label>.
  source: dataitems
})


</script>


<script type="text/javascript" src="../../public/javascripts/sorttable.js"></script>

{% endblock %}