{% extends "layout-wide.html" %}

{% block pageTitle %}
Place name | Find data on skills supply
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your feedback will help us to improve it.'
}) }}


<div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="what.html">Home</a></li>
          <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="what-place.html">Places</a></li>
          <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="place-newcastle-upon-tyne.html">Newcastle upon Tyne</a></li>
          <li class="govuk-breadcrumbs__list-item" aria-current="page">Training providers</li>
        </ol>
      </div>

<div class="govuk-grid-row  govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
          Providers delivering training in Newcastle upon Tyne
        </h1>
        <p class="govuk-body-l govuk-!-margin-bottom-3">Local authority district</p>
      <p class="last-update govuk-!-margin-bottom-3">This data was last updated in September 2019</p>
      </div>
    </div>



    <div class="govuk-grid-row govuk-!-margin-bottom-5">

        <div class="govuk-grid-column-one-third">
      
            <form class="form" action="lep-ne-gva.html">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="sort">
                        <strong>Provider name contains</strong>
                      </label>
                      <input class="govuk-input" id="event-name" name="event-name" type="text">
                </div>
            </form>
        </div>

        <div class="govuk-grid-column-one-third">
            <div class="govuk-form-group">
                <label class="govuk-label" for="sort">
                    <strong>Provider type</strong>
                  </label>
                  <select class="govuk-select" id="sort" name="sort">
                    <option value="all" selected>All levels</option>
                    <option>General FE and Tertiary College</option>
                    <option>Other Public Funded</option>
                    <option>Private Sector Public Funded</option>
                    <option>Schools</option>
                  </select>
            </div>
         </div>

    </div>

      <div class="govuk-grid-row govuk-!-margin-bottom-6">
          <div class="govuk-grid-column-full">
      
      <p class="show-with-responsive-table"><strong>Sort providers by:</strong></p>
      <table class="govuk-table sort-filter-table sortable responsive-table govuk-!-margin-bottom-5">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
    
                  <th class="govuk-table__header" scope="col"><span class="th-sort-link">Provider name</span></th>
                  <th class="govuk-table__header" scope="col"><span class="th-sort-link">Provider type</span></th>
                <th class="govuk-table__header" scope="col"><span class="th-sort-link">Participation</span></th>
                <th class="govuk-table__header" scope="col"><span class="th-sort-link">Achievements</span></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
    
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Best Practice Training and Development Limited</th>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Provider type: </span>Private Sector Public Funded</td>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Participation: </span>1,090</td>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Achievements: </span>984</td>   
                </tr>
    
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row"><a href="provider-b-skill-newcastle-upon-tyne.html">B-Skill Limited</a></th>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Provider type: </span>Private Sector Public Funded</td>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Participation: </span>1,090</td>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Achievements: </span>984</td>   
                </tr>
    
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">City of Sunderland College</th>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Provider type: </span>General FE and Tertiary College</td>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Participation: </span>1,090</td>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Achievements: </span>984</td>   
                </tr>
    
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Darlington College</th>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Provider type: </span>General FE and Tertiary College</td>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Participation: </span>1,090</td>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Achievements: </span>984</td>   
                </tr>
    
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Education and services for people with autism limited</th>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Provider type: </span>Private Sector Public Funded</td>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Participation: </span>1,090</td>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Achievements: </span>984</td>   
                </tr>
    
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Gateshead College</th>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Provider type: </span>General FE and Tertiary College</td>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Participation: </span>1,090</td>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Achievements: </span>984</td>   
                </tr>
    
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Interserve Leanring and Employment (Services) Limited</th>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Provider type: </span>Private Sector Public Funded</td>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Participation: </span>1,090</td>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Achievements: </span>984</td>   
                </tr>
    
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Learndirect Limited</th>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Provider type: </span>Private Sector Public Funded</td>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Participation: </span>1,090</td>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Achievements: </span>984</td>   
                </tr>
    
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Learning Curve Group Limited</th>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Provider type: </span>Private Sector Public Funded</td>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Participation: </span>1,090</td>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Achievements: </span>984</td>   
                </tr>
    
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Lomax training services limited</th>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Provider type: </span>Private Sector Public Funded</td>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Participation: </span>1,090</td>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Achievements: </span>984</td>   
                </tr>
    
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Nacro</th>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Provider type: </span>Private Sector Public Funded</td>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Participation: </span>1,090</td>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Achievements: </span>984</td>   
                </tr>
    
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Newcastle upon Tyne City Council</th>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Provider type: </span>Other Public Funded</td>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Participation: </span>1,090</td>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Achievements: </span>984</td>   
                </tr>
    
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Peopleplus Group Limited</th>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Provider type: </span>Private Sector Public Funded</td>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Participation: </span>1,090</td>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Achievements: </span>984</td>   
                </tr>
    
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Release potential limited</th>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Provider type: </span>Private Sector Public Funded</td>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Participation: </span>1,090</td>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Achievements: </span>984</td>   
                </tr>
    
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">St Helens College</th>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Provider type: </span>General FE and Tertiary College</td>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Participation: </span>1,090</td>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Achievements: </span>984</td>   
                </tr>
    
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Summerhouse Equestrian and Training Centre LLP</th>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Provider type: </span>Private Sector Public Funded</td>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Participation: </span>1,090</td>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Achievements: </span>984</td>   
                </tr>
    
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Trinity Post 16 Solutions Limited</th>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Provider type: </span>Schools</td>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Participation: </span>1,090</td>
                    <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Achievements: </span>984</td>   
                </tr>
    
    
              
                
    
                            
            </tbody>
          </table>
            </div>
       


</div>
</div>

{% include "includes/feedback.html" %}

{% endblock %}

{% block pageScripts %}

<script type="text/javascript">
  
  const dataitems = [
  'Javascript',
  'React',
  'CSS',
  'HTML',
  'Data science',
  'Node'
]

accessibleAutocomplete({
  element: document.querySelector('#autocomplete'),
  displayMenu: 'overlay',
  id: 'autocomplete', // To match it to the existing <label>.
  source: dataitems
})


</script>


<script type="text/javascript" src="../../public/javascripts/sorttable.js"></script>

{% endblock %}