{% extends "layout.html" %}

{% set bodyClasses = "app-page--wide" %}

{% block pageTitle %}
Newcastle upon Tyne | Find data on skills supply
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your feedback will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="what.html">Home</a></li>
      <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="what-place.html">Places</a></li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Newcastle upon Tyne</li>
    </ol>
  </div>

<div class="govuk-grid-row govuk-!-margin-bottom-3">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
          Training provisions in Newcastle upon Tyne
        </h1>
        <p class="govuk-body-l govuk-!-margin-bottom-3">Local authority district</p>
      <p class="last-update govuk-!-margin-bottom-3">This data was last updated in September 2019</p>
      </div>
    </div>




    <div class="govuk-grid-row  govuk-!-margin-bottom-5">
        <div class="govuk-grid-column-one-quarter">
          <div class="dwp-filter">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-3 dwp-filter__header">Filters</h3>

            <div class="dwp-filter__content">

            <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-weight-bold" for="ssa">
                  Tier 1 sector subject area
                </label>
                <select class="govuk-select" id="ssa" name="ssa">
                  <option value="-" selected>Show all</option>
                  <option value="1">1 – Health, Public Services and Care</option>
                  <option value="-">2 – Science and Mathematics</option>
                  <option value="-">3 – Agriculture, Horticulture and Animal Care</option>
                  <option value="-">4 – Engineering and Manufacturing Technologies</option>
                  <option value="-">5 – Construction, Planning and the Built Environment</option>
                  <option value="-">6 – Information and Communication Technology (ICT)</option>
                  <option value="-">7 – Retail and Commercial Enterprise</option>
                  <option value="-">8 – Leisure, Travel and Tourism</option>
                  <option value="-">9 – Arts, Media and Publishing</option>
                  <option value="-">10 – History, Philosophy and Theology</option>
                  <option value="-">11 – Social Sciences</option>
                  <option value="-">12 – Languages, Literature and Culture</option>
                  <option value="-">13 – Education and Training</option>
                  <option value="-">14 – Preparation for Life and Work</option>
                  <option value="-">15 – Business, Administration, Finance and Law</option>
                </select>
              </div>

              <div class="govuk-radios__conditional govuk-select__conditional" id="conditional-display" style="display: none;">
                  <label class="govuk-label govuk-!-font-weight-bold" for="ssa-2">
                      Tier 2 sector subject area
                    </label>
                  <select class="govuk-select" id="ssa-2" name="ssa-2">
                      <option value="-" selected>Show all</option>
                      <option value="1">1.1 – Medicine and dentistry</option>
                      <option value="-">1.2 – Nursing, and subjects and vocations allied to medicine</option>
                      <option value="-">1.3 – Health and social care</option>
                      <option value="-">1.4 – Public services</option>
                      <option value="-">1.5 – Child development and well being</option>                    
                  </select>
              </div>

              <div class="govuk-form-group">
                  <label class="govuk-label govuk-!-font-weight-bold" for="level">
                    Qualification level
                  </label>
                  <select class="govuk-select" id="level" name="level">
                    <option value="-" selected>Show all</option>
                    <option value="-">Entry level</option>
                    <option value="1">Level 1</option>
                    <option value="-">Level 2</option>
                    <option value="-">Level 3</option>
                    <option value="-">Level 4</option>
                    <option value="-">Level 5</option>
                    <option value="-">Level 6</option>
                    <option value="-">Level 7</option>
                    <option value="-">Level 8</option>
                    <option value="-">Level 9</option>
                    <option value="-">Not applicable</option>
                  </select>
                </div>

                <div class="govuk-radios__conditional govuk-select__conditional" id="conditional-display-2" style="display: none;">
                    <label class="govuk-label govuk-!-font-weight-bold" for="type">
                        Qualification type
                      </label>
                    <select class="govuk-select" id="type" name="type">
                        <option value="-" selected>Show all</option>
                        <option value="1">Award</option>
                        <option value="-">Certificate</option>
                        <option value="-">Diploma</option>                  
                    </select>
                </div>

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <label class="govuk-label govuk-!-font-weight-bold">
                            Type of provision
                          </label>
                        </legend>
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                            <label class="govuk-label govuk-checkboxes__label" for="waste">
                              Courses
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                            <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                              Apprenticeships
                            </label>
                          </div>
                        </div>
                      </fieldset>
                  </div>
  

                <button class="govuk-button" data-module="govuk-button">
                    Apply filters
                  </button>

                </div>
                </div>
        </div>


        <div class="govuk-grid-column-three-quarters">


            <div class="govuk-grid-row govuk-!-margin-bottom-5">
                <div class="govuk-grid-column-full">
                    <nav class="navigation-secondary">
                      <ul>
                        <li>
                          <a href="place-newcastle-upon-tyne">Overview</a>
                        </li>
                        <li>
                            <a href="place-newcastle-upon-tyne-courses" class="active" aria-current="section">Training provision</a>
                        </li>
                        <li>
                          <a href="place-newcastle-upon-tyne-providers">Providers</a>
                      </li>
            
                      </ul>
                    </nav>
                  </div>
              </div>  


              <div class="govuk-grid-row govuk-!-margin-bottom-5">

                <div class="govuk-grid-column-one-third">
              
                    <form class="form" action="lep-ne-gva.html">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="sort">
                                <strong>Title contains</strong>
                              </label>
                              <input class="govuk-input" id="event-name" name="event-name" type="text">
                        </div>
                    </form>
                </div>

                <div class="govuk-grid-column-one-third">
              
                  <form class="form" action="lep-ne-gva.html">
                      <div class="govuk-form-group">
                          <label class="govuk-label" for="prov">
                              <strong>Provision type</strong>
                            </label>
                            <select class="govuk-select" id="prov" name="prov">
                              <option value="-" selected>Show all</option>
                              <option value="1">Courses</option>
                              <option value="-">Apprenticeships</option>             
                          </select>
                      </div>
                  </form>
              </div>


        
            </div>
        
              <div class="govuk-grid-row govuk-!-margin-bottom-6">
                  <div class="govuk-grid-column-full">
              
              <p class="show-with-responsive-table"><strong>Sort courses by:</strong></p>
              <table class="govuk-table sort-filter-table sortable responsive-table govuk-!-margin-bottom-5">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
        
                      <th class="govuk-table__header" scope="col"><span class="th-sort-link">Course</span></th>
                      <th class="govuk-table__header" scope="col"><span class="th-sort-link">Provider name</span></th>
                      <th class="govuk-table__header" scope="col"><span class="th-sort-link">Level</span></th>
                    <th class="govuk-table__header" scope="col"><span class="th-sort-link">Qualification type</span></th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
        
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">BTEC Diploma in Sport (QCF)</th>
                        <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Provider: </span>Newcastle College</td>    
                        <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Level: </span>3</td>
                        <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Qualification type: </span>Other regulated/accredited qualification</td>
                         
                    </tr>
        
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="row">Diploma in Aeronautical Engineering (QCF)</th>
                      <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Provider: </span>Newcastle College</td>    
                      <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Level: </span>3</td>
                      <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Qualification type: </span>Other regulated/accredited qualification</td>
                    </tr>
        
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="row">EMTA Sub Dip Engineering Technologies (Rail) FL3</th>
                      <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Provider: </span>Newcastle College</td>    
                      <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Level: </span>-</td>
                      <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Qualification type: </span>Other regulated/accredited qualification</td>  
                    </tr>
        
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="row">BTEC Extended Diploma in Construction and the Built Environment (QCF)</th>
                      <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Provider: </span>Newcastle College</td>    
                      <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Level: </span>3</td>
                      <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Qualification type: </span>Other regulated/accredited qualification</td>    
                    </tr>
        
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="row">BTEC Extended Diploma in Performing Arts (QCF)</th>
                      <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Provider: </span>Newcastle College</td>    
                      <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Level: </span>3</td>
                      <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Qualification type: </span>Other regulated/accredited qualification</td>   
                    </tr>
        
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="row">Functional Skills qualification in mathematics</th>
                      <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Provider: </span>Newcastle College</td>    
                      <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Level: </span>1</td>
                      <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Qualification type: </span>Functional skill</td>   
                    </tr>
        
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="row">Functional Skills qualification in Mathematics at Entry 3</th>
                      <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Provider: </span>Newcastle College</td>    
                      <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Level: </span>E</td>
                      <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Qualification type: </span>Functional skill</td>
                    </tr>
        
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="row">Diploma in Plumbing Studies (QCF)</th>
                      <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Provider: </span>Newcastle College</td>    
                      <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Level: </span>2</td>
                      <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Qualification type: </span>Other regulated/accredited qualification</td>   
                    </tr>
        
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="row">Extended Diploma in IT (QCF)</th>
                      <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Provider: </span>Newcastle College</td>    
                      <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Level: </span>3</td>
                      <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Qualification type: </span>14-19 Diploma and relevant components</td>  
                    </tr>
                  
                    
        
                                
                </tbody>
              </table>
                    </div>
               
        
        
        </div>





</div>
</div>
</div>

{% include "includes/feedback.html" %}

{% endblock %}

{% block pageScripts %}

<script type="text/javascript" >
  document.getElementById('ssa').addEventListener('change', function () {
      var style = this.value == '1' ? 'block' : 'none';
      document.getElementById('conditional-display').style.display = style;
  });

  document.getElementById('level').addEventListener('change', function () {
      var style = this.value == '1' ? 'block' : 'none';
      document.getElementById('conditional-display-2').style.display = style;
  });
</script>

{% endblock %}