{% extends "layout-nav.html" %}

{% block pageTitle %}
Find data on skills supply
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your feedback will help us to improve it.'
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Find work and skills data
      </h1>
      <p class="govuk-body-l">
          These services lets you view data about work and skills in the labour market.
      </p>
     
        <h2 class="govuk-heading-m"><a href="http://digital-skills.herokuapp.com/version-1-2/">Explore the digital skills market by area</a></h2>

        <p>This service lets you view data about the demand for skills and roles in a specific area.</p>

        <h2 class="govuk-heading-m"><a href="http://skills-supply.herokuapp.com/version-0-1/">Find data on skills supply</a></h2>

        <p>This service lets you view data about training provision and achievements in England. You can find this data by place, provider, course or sector subject area</p>

    </div>
</div>
</div>

{% include "includes/feedback.html" %}

{% endblock %}

{% block pageScripts %}



{% endblock %}