{% extends "layout.html" %}

{% block pageTitle %}
Find data on skills supply
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your feedback will help us to improve it.'
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Find work and skills data
      </h1>
      <p class="govuk-body-l">
          This service lets you view data about work and skills in the labour market.
      </p>
      <p>You can explore data about:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>demand for skills and roles</li>
            <li>training providers</li>
            <li>courses</li>
            <li>training achievments by sector, level and area</li>
          </ul>

      {{ govukButton({
        text: "Start now",
        href: "what",
        classes: "govuk-button--start"
    }) }}


    </div>
</div>
</div>

{% include "includes/feedback.html" %}

{% endblock %}

{% block pageScripts %}



{% endblock %}