{% extends "dwp-prototype-index-page.html" %}

{% block summaries %}

  {{dwpPrototypeSummaries([
    {
      dateOfRelease: "21 July 2019",
      feature: "Prototype for initial flask work",
      jiraStory: "-",
      link: "/version-0-2/",
      changes: [
        "Includes sectors."
      ],
      research: [
        " "
      ]
    },
    {
      dateOfRelease: "18 July 2019",
      feature: "Initial prototype idea with course providers",
      jiraStory: "-",
      link: "/version-0-1/",
      changes: [
        "First iteration - designer's ideas only, not for production unless rigorously tested and hypothoses proved."
      ],
      research: [
        " "
      ]
    }
  ])}}

{% endblock %}