{% extends "dwp-prototype-index-page.html" %}

{% block summaries %}

  {{dwpPrototypeSummaries([
    {
      dateOfRelease: "10 October 2019",
      feature: "Third iteration of prototype",
      jiraStory: "-",
      link: "/version-0-3/",
      changes: [
        "Includes sectors, uses updated DFE data."
      ],
      research: [
        " "
      ]
    },
    {
      dateOfRelease: "21 November 2019",
      feature: "Filter page version",
      jiraStory: "-",
      link: "/version-filter-page/place-newcastle-upon-tyne",
      changes: [
        "New version of the place page, using filters rather than navigating through levels."
      ],
      research: [
        " "
      ]
    },
    
    {
      dateOfRelease: "21 July 2019",
      feature: "Seccond iteration of prototype",
      jiraStory: "-",
      link: "/version-0-2/",
      changes: [
        ""
      ],
      research: [
        " "
      ]
    },
    {
      dateOfRelease: "29 August 2019",
      feature: "Overarching Navigation",
      jiraStory: "-",
      link: "/overarching-nav/",
      changes: [
        "Includes sectors."
      ],
      research: [
        " "
      ]
    },
    {
      dateOfRelease: "18 July 2019",
      feature: "Initial prototype idea with course providers",
      jiraStory: "-",
      link: "/version-0-1/",
      changes: [
        "First iteration - designer's ideas only, not for production unless rigorously tested and hypothoses proved."
      ],
      research: [
        " "
      ]
    }
  ])}}

{% endblock %}